:root {
    /* Palette */
    --charcoal: #264653;
    --dark-slate-gray: #275C62;
    --myrtle-green: #287271;
    --persian-green: #2A9D8F;
    --verdigris: #62B6AB;
    --tiffani-blue: #99CEC7;
    --white-smoke: #F5F5F5;
 
 }

body {
    color: var(--white-smoke);
}

header{
    background-color: var(--myrtle-green);
    color: var(--white-smoke);
    font-size: 85px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-container {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.header-logo {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 20px;
}

#login{
    background-color: var(--persian-green);
}

.login-btn {
    width: 100%;
    background-color: var(--charcoal);
    border: none;
    transition: 0.2ms;
}

.login-btn:hover {
    background-color: var(--dark-slate-gray) !important;
}

.registration-btn {
    width: 100%;
    background-color: whitesmoke;
    border: none;
    color: var(--charcoal);
    transition: 0.2ms;
}

.registration-btn:hover {
    color: var(--white-smoke) !important;
    background-color: var(--dark-slate-gray) !important;
}

.main-row {
    background-image: url("../resources/homepage-background.jpg"); /* Imposta l'immagine di sfondo per la row */
    background-size: cover; /* Copre tutto lo spazio disponibile con l'immagine */
    background-position: center center; /* Centra l'immagine verticalmente e orizzontalmente */
    height: 100vh; /* Imposta l'altezza della row pari all'altezza della finestra del browser */
}

.home-title {
    font-size: 4rem;
}

footer {
    background-color: var(--myrtle-green);
}
