<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Template</display-name>
    <description>
      An empty project to use as a template for your own ones
    </description>

	<!-- Context attributes to be used throughout the application -->
	<context-param>
		<param-name>dao</param-name>
		<param-value>IDENTIFICATIVO_DELL_IMPLEMENTAZIONE</param-value>
	</context-param>
	
    <!-- Define servlets that are included in the application -->
	<servlet>
        <servlet-name>LibrettoServlet</servlet-name>
        <servlet-class>view.LibrettoServlet</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>LibrettoServlet</servlet-name>
        <url-pattern>/libretto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegistraEsame</servlet-name>
        <servlet-class>servlets.RegistraEsame</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistraEsame</servlet-name>
        <url-pattern>/registraEsame</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProiettaVoto</servlet-name>
        <servlet-class>servlets.ProiettaVoto</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>ProiettaVoto</servlet-name>
        <url-pattern>/proiettaVoto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LibrettoController</servlet-name>
        <servlet-class>servlets.LibrettoController</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>LibrettoController</servlet-name>
        <url-pattern>/librettoController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ListaPreferiti</servlet-name>
        <servlet-class>servlets.ListaPreferiti</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>ListaPreferiti</servlet-name>
        <url-pattern>/listaPreferiti</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Confronto</servlet-name>
        <servlet-class>servlets.Confronto</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>Confronto</servlet-name>
        <url-pattern>/confronto</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RecensioneEsameServlet</servlet-name>
        <servlet-class>servlets.RecensioneEsameServlet</servlet-class>
       
    </servlet>
    <servlet-mapping>
        <servlet-name>RecensioneEsameServlet</servlet-name>
        <url-pattern>/recensioneEsame</url-pattern>
    </servlet-mapping>

    <!-- Servlet per l'Autenticazione - ALESSANDRO -->
    <servlet>
    	<servlet-name>ServletAutenticazione</servlet-name>	
    	<servlet-class>controller.Autenticazione.ServletAutenticazione</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletAutenticazione</servlet-name>
    	<url-pattern>/autenticazione</url-pattern>	
    </servlet-mapping>
    <servlet>
    	<servlet-name>ServletRegistrazione</servlet-name>	
    	<servlet-class>controller.Registrazione.ServletRegistrazione</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletRegistrazione</servlet-name>
    	<url-pattern>/registrazione</url-pattern>	
    </servlet-mapping>
    <servlet>
    	<servlet-name>ServletGestioneUtenti</servlet-name>	
    	<servlet-class>controller.GestioneUtenti.ServletGestioneUtenti</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>ServletGestioneUtenti</servlet-name>
    	<url-pattern>/gestione</url-pattern>	
    </servlet-mapping>
    
	<!-- Welcome pages -->
	<!-- pleonastico: tomcat "tenta" in automatico le index.html e index.jsp -->
	
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
		
	<!-- Handle exceptions and errors -->
	
	<error-page>
		<error-code>404</error-code>
		<location>/errors/notfound.html</location>
	</error-page>

	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/errors/failure.jsp</location>
	</error-page>
	 
</web-app>
